PORT=4000
DBHOST=mongodb+srv://brainbuzz_api:RANDOM_PLACEHOLDER_PASSWORD@cluster0.swm1bjc.mongodb.net/BRAINBUZZ?retryWrites=true&w=majority&appName=Cluster0
CORS_ORIGINS=http://localhost:5173,http://localhost:5174
JWT_SECRET=brainbuzz-super-secret-key
VITE_API_BASE_URL=http://localhost:4000
